email=rajeshthamatam94@gmail.com
#always-auth=true
//3.110.30.142:8081/repository/nodejs-app/:_authToken=YWRtaW46bmV4dXM=
//3.110.30.142:8081/repository/nodejs-app/:_auth=YWRtaW46bmV4dXM=

allowRepublish=true
